:root {
  font-size: 62.5%;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fafafa8f;

}

body {
  background: url('../images/quizz-background2.jpg') no-repeat center center;
  background-size: cover;
  min-height: 100vh;
}

h1 {
  font-size: 5rem;
  color: #d2d7e2;
}

h3 {
  font-size: 3rem;
  margin-top: 1.5rem;
  color: #ccd0e9;
}

#main-container {
  /*width: 100vh;
  height: 100vh;*/
  margin-top: 200px;
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  /*max-width: 80rem;*/
}

#home {
  border: 2px solid rgba(6, 213, 255, 1);
  padding: 20px 40px;
  background-color: rgba(21, 21, 138, 0.2);
  border-radius: 10px;
  }

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.items-aligned {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

#submit-button {
  margin-top: 30px;
  background-color: #98c9c6;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 15px;
  text-transform: uppercase;
  border: 2px solid rgb(32, 22, 22);
  /*width: 30%;*/
}

#enter-playername {
  font-size: 4rem;
}

input#playername {
  color:black;
  background-color: rgba(169, 172, 212, 0.493);
  height: 3.5rem;
  border-radius: 5px;
  font-size: 2.5rem;
  margin-top: 20px;
  /*box-sizing: border-box;*/
}

.hide-content {
  display: none;
}

.welcome-area {
  color: azure;
  font-size: 120%;
}

/*Madia queries*/

@media(max-width: 640px)
{
  h1 {
    font-size: 2rem;
    text-align: center;
  }
  h3 {
    font-size: 1rem;
  }
 
  #home {
  padding: 5%;  
  margin-top:  5px;
  box-sizing: border-box;
  }
}
